#IGNORED
web/node_modules/
web/.next/
web/package-lock.json
web/out/
mobile/node_modules/
mobile/android/
mobile/ios/
mobile/__tests__/
mobile/.bundle/
mobile/package-lock.json
api/node_modules
api/package-lock.json
.vscode/
# Local Netlify folder
.netlify
